<h4>Players</h4>

<% if @player %>
<ul>
  <li><%= @player.display_name %></li>
  <li><%= @player.icon_path %></li>
  <li><%= @player.membership_id %></li>
  <li><%= @player.membership_type %></li>
</ul>
  <%#= @player.characters %>
  <% @player.characters.each do |key, val| %>
    <ul>
      <li> <%= val.character_id %></li>
        <ul>
          <li> <%= val.light_level %></li>
          <li> <img src="<%= val.background %>"></li>
        </ul>
      </li>
    </ul>
  <% end %>
<% else %>
  <h3>Search For Your Gamertag</h3>
<div>
  <input id="gamertag-input" type="text"> <input type="radio" name="platform" value="1"> XBL <input type="radio" name="platform" value="2"> PSN
  <button id="gamertag-search">Search</button>
</div>
<% end %>

<!-- Super simple script for searching -->
<script>
  $("#gamertag-search").on("click", function(){
    window.location.href = "/?gamertag=" + $("#gamertag-input").val() + "&platform=" + $("input[name=platform]:checked").val();
  });
</script>
